<div class="form">
  <div class="form-container">
    <h2>Edit Recipe</h2>

    <%= simple_form_for @recipe do |form| %>

      <%= form.input :title, input_html: { class: "form-input-style" } %>
      <%= form.input :description, as: :text, input_html: { class: "form-input-style" } %>
      <%= render partial: 'shared/edit_ingredients', locals: { f: form } %>
      <%= form.input :meal_type, collection: Recipe::MEAL_TYPES, input_html: { class: "form-input-style" } %>
      <%= form.input :season, collection: Recipe::SEASONS, input_html: { class: "form-input-style" } %>
      <%= form.input :dietary_requirements, collection: Recipe::DIET, input_html: { class: "form-input-style" } %>
      <%= form.input :cuisine, input_html: { class: "form-input-style" } %>
      <%= form.input :prep_time, input_html: { class: "form-input-style" } %>
      <%= form.input :total_time, input_html: { class: "form-input-style" } %>
      <%= form.input :servings, input_html: { class: "form-input-style" } %>
      <%= form.input :difficulty, input_html: { class: "form-input-style" } %>
      <%= form.input :directions, input_html: { class: "form-input-style" } %>

      <%= form.input :images, as: :file, input_html: { multiple: true, class: "form-input-style" } %>

      <div class="actions">
        <%= button_tag(type: 'submit', class: 'button edit-recipe-btn') do %>
          Update Recipe
        <% end %>
      </div>
    <% end %>

    <%= link_to "Cancel", recipe_path(@recipe) %>
