<div class="index-container">
  <div class="index-search-flex-container" data-controller="filter-recipes">
    <div class="filter-container">
      <h3>Filter recipes</h3>
      <%= form_tag recipes_path, method: :get, data: { filter_recipes_target: 'form', action: 'submit->filter-recipes#send' }  do %>
        <div class="season">
          <h4>Season</h4>
          <% Recipe::SEASONS.each do |season| %>
            <div class="flex-form-container">
              <%= check_box_tag(:query, ":#{season}") %>
              <%= label_tag(:season, "#{season.capitalize}") %>
            </div>
          <% end %>
        </div>
        <div class="meal_type">
          <h4>Meal type</h4>
          <% Recipe::MEAL_TYPES.each do |meal| %>
            <div class="flex-form-container">
              <%= check_box_tag(:query, ":#{meal}") %>
              <%= label_tag(:meal_type, "#{meal.capitalize}") %>
            </div>
          <% end %>
        </div>
        <div class="dietary_restrictions">
          <h4>Dietary Restrictions</h4>
          <% Recipe::DIET.each do |diet| %>
            <div class="flex-form-container">
              <%= check_box_tag(:query, ":#{diet}") %>
              <%= label_tag(:dietary_restrictions, "#{diet.capitalize}") %>
            </div>
          <% end %>
        </div>
          <%= button_tag "Apply Filter", class: "button filter-btn", style: "margin-top: 15px" %>
      <% end %>
    </div>
    <div class="outter-recipe-flex-container">
       <% if @recipes.nil? && @recipes_results.nil? %>
        <h1>Recipes</h1>
        <hr>
        <p>No recipes yet...</p>
      <% elsif @recipes_results %>
        <h1><%= pluralize(@recipes_results.length, 'result') %></h1>
        <% else %>
        <h1>All recipes</h1>
      <% end %>
      <div class="recipe-card-index-container" data-filter-recipes-target="recipes">
        <% if @recipes.nil? && @recipes_results.nil? %>
          <h1>Recipes</h1>
          <hr>
          <p>No recipes yet...</p>
        <% elsif @recipes_results %>
          <% @recipes_results.each do |recipe| %>
              <%= render partial: 'shared/card_small', locals: { recipe: recipe, card_class: 'small-card' } %>
          <% end %>
        <% else %>
          <% @recipes.each do |recipe| %>
              <%= render partial: 'shared/card_small', locals: { recipe: recipe, card_class: 'small-card' } %>
          <% end %>
        <% end %>
    </div>
    </div>
  </div>
</div>
