<%= simple_form_for @recipe do |f| %>
  <div class="form">
    <div class="form-container">
      <h1>Add New Recipe</h1>

      <%= f.input :title, placeholder: "The title of your recipe.", input_html: { class: "form-input-style" } %>
      <%= f.input :description, placeholder: "What is the recipe about?", input_html: { class: "form-input-style" } %>

      <p>Add Ingredients</p>
      <%= render partial: 'shared/add_ingredients', locals: { f: f } %>

      <%= f.input :directions, placeholder: "What needs to be done, step by step?", input_html: { class: "form-input-style big-form" } %>
      <%= f.input :meal_type, collection: Recipe::MEAL_TYPES, input_html: { class: "form-input-style" }  %>
      <%= f.input :season, collection: Recipe::SEASONS, input_html: { class: "form-input-style" }  %>
      <%= f.label :dietary_requirements, "Dietary Requirements", class: "label-style" %>
      <%= f.collection_check_boxes :dietary_requirements, Recipe::DIET, :to_s, :to_s, item_wrapper_class: 'checkbox-item' %>
      <%= f.input :cuisine, placeholder: "e.g. Mexican", input_html: { class: "form-input-style" } %>
      <%= f.input :prep_time, placeholder: "Time for preparation in minutes", input_html: { class: "form-input-style" } %>
      <%= f.input :total_time, placeholder: "Total time needed in minutes", input_html: { class: "form-input-style" } %>
      <%= f.input :difficulty, collection: ["Very Easy", "Easy", "Medium", "Difficult"], prompt: "Choose Difficulty", input_html: { class: "form-input-style" } %>
      <%= f.input :servings, placeholder: "e.g. 4", input_html: { class: "form-input-style" } %>

      <p>Add Images:</p>
      <p class= "recipe-info">(select more than 1 file if you want to upload multiple images)</p>
      <%= f.input :images, as: :file, label: false, input_html: { multiple: true, class: "form-input-style" } %>

      <button type="submit" class="button small-button" style="margin-top: 40px">Create Recipe</button>
    </div>
  </div>
<% end %>
