<div class="recipe-page">
  <div class="recipe-container">
    <div class="recipe-column-left">
      <div class="container">
        <div class="back-button">
          <%= link_to "Back", :back, class: "button small-button" %>
        </div>
        <h1><%= @recipe.title %></h1>
        <div class="recipe-description">
          <p><%= @recipe.description %></p>
        </div>
        <%= render partial: 'shared/recipe_card' %>
      </div>
    </div>
    <div class="recipe-column-right">
      <div class="container">
        <% if current_user == @recipe.user %>
          <div class="edit-button">
            <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: "button" %>
          </div>
          <div class="delete-button">
            <%= link_to "Delete Recipe", recipe_path(@recipe), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "button" %>
          </div>
        <% else %>
          <div class="signup-button">
            <%= link_to 'Recipe Events', recipe_events_recipe_path(@recipe), class: 'button mb-3' %>
            <%# <button class="button">See events for recipe</button> %>
            <%= link_to 'Create Event', new_event_path, class: 'button' %>
          </div>
        <% end %>

        <div class="user-profile">
          <div>
            <% if @recipe.user.photo.key.nil? %>
                <%= image_tag("https://images.unsplash.com/photo-1506368249639-73a05d6f6488?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80", alt: "Default Avatar", class: "user-avatar") %>
              <% else %>
                <%= cl_image_tag @recipe.user.photo.key, class: "user-avatar" %>
              <% end %>
            </div>
          <div class="user-details">
            <p class="username"><%= @recipe.user.user_name %></p>
            <%= link_to "View Profile", user_path(@recipe.user_id), class: "profile-link" %>
          </div>
        </div>

        <div class="other-recipes">
          <p>More recipes by <%= @recipe.user.user_name %></p>
            <div>
              <% @user_recipes.sample(3).each do |recipe| %>
                <%= render partial: 'shared/card_small', locals: { recipe: recipe, card_class: 'smaller-card' } %>
              <% end %>
              <br>
              <% if current_user != @recipe.user %>
              <%= link_to "+ Review", new_recipe_review_path(recipe_id: @recipe.id), class: 'button button-small' %>
              <% end %>
              <%# <br>

              <br> %>
              <h2>User Reviews </h2>
              <br>

              <% if @recipe.reviews.empty? %>
                <p>No reviews yet!</p>
              <% end %>

              <% @recipe.reviews.each do |review| %>
                <div>
                  <h3><%= review.user.user_name %></h3>
                  <p><strong>Rating:</strong> <%= review.rating %></p>
                  <p><strong>Content:</strong> <%= review.content %></p>
                  <% if review.suggestion.present? %>
                    <p><strong>Suggestion:</strong> <%= review.suggestion %></p>
                  <% end %>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
