<div class="container">
  <h1>Update profile</h1>
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :user_name %>
    <%= f.input :bio %>
    <%= f.input :speciality %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
