<div class="profile-show-container">
  <div class="back-btn-container">
    <%= link_to "BACK", root_path, class: 'button small-button' %>
    <% if policy(@user).edit? %>
    <%= link_to "Edit", edit_user_path(@user), class: 'button small-button' %>
      <% end %>
  </div>
  <div class="show-container-flex">
    <div class="user-info-flex-container">
      <% if @user.photo.key %>
        <div>
        <%= cl_image_tag @user.photo.key, class: 'avatar-large' %>
      <% else %>
        <div>
        <%= image_tag "https://images.unsplash.com/photo-1506368249639-73a05d6f6488?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8aGVyYnN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60", class: "avatar-large" %>
      <% end %>
      </div>
      <div class="name-location-info-container">
      <% if @user.first_name.nil? && @user.last_name.nil? %>
        <p>No user information yet...</p>
      <% else %>
        <h3><%= @user.user_name %></h3>
        <h5><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h5>
        <p class="location"><i class="fa-solid fa-location-dot"></i> Location</p>
      <% end %>
      </div>
      <div class="user-bio-container">
      <% if @user.bio.nil? %>
        <p>No profile description yet...</p>
      <% else %>
        <p><%= @user.bio %></p>
      <% end %>
      </div>
    </div>
    <div class="outer-cards-flex">
      <div class="cards-flex">
        <div class="recipe-cards-container">
          <div class="feature-recipe-outer-flex">
            <div class="title">
              <h3>Featured Recipes by <%#= @user.user_name.capitalize %></h3>
            </div>
            <div class="cards-flex-container">
              <#%= render 'shared/card_small', user: @user  %>
              <#%= render 'shared/card_small' %>
            </div>
          </div>
        </div>
      </div>
      <div class="cards-flex">
        <div class="recipe-cards-container">
          <div class="favorite-recipe-outer-flex">
            <div class="title">
              <h3>Favorite Recipes</h3>
            </div>
            <div class="cards-flex-container">
              <#%= render 'shared/card_small' %>
              <#%= render 'shared/card_small' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
