<div id="ingredient-container">
  <%= f.simple_fields_for :ingredient_join_tables do |join_form| %>
    <div class="ingredient-fields">
      <%= join_form.simple_fields_for :ingredient do |ingredient_form| %>
        <div class="ingredient-field">
          <%= ingredient_form.input :name, label: "Add ingredients (amount and name):", input_html: { class: "name-input" }, label_html: { class: "ingredient-label" } %>
          <button type="button" class="delete-ingredient">Remove</button>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="ingredient-fields-template" style="display: none">
    <div class="ingredient-fields">
      <%= f.simple_fields_for :ingredient_join_tables, IngredientJoinTable.new, child_index: '__INDEX__' do |join_form| %>
        <%= join_form.simple_fields_for :ingredient, Ingredient.new do |ingredient_form| %>
          <div class="ingredient-field">
            <%= ingredient_form.input :name, input_html: { class: "name-input" } %>
            <button type="button" class="delete-ingredient">Remove</button>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <button type="button" id="add-ingredient" class="form-button">Add Ingredient</button>
</div>
