<%= link_to event_path(event), class: "small-card-link"  do %>
  <div class="small-card <%= card_class %> event-card">
   <% if event.photos.nil? %>
    <%= image_tag("default_img_card.jpg", alt: "Recipe Photo", class: "card-img-background") %>
    <% else %>
      <%= cl_image_tag event.photos.first.key, class: "card-img-background" %>
    <% end %>
    <div class="small-card-content">
      <h2><mark><%= event.title %></mark></h2>
    </div>
    <div id="event-card-date" class="small-card-info">
      <% if event.date >= Date.today %>
        <p><mark><i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i><%= event.date.strftime("%d/%m/%y") %></mark></p>
      <% end %>
    </div>
  </div>
<% end %>
