<div id="edit-ingredient-container">
  <div class="edit-ingredient-fields">
    <% @recipe.ingredient_join_tables.each do |join_table| %>
      <% ingredient = join_table.ingredient %>
      <% next if ingredient.name.nil? || ingredient.name.strip.empty? %>
      <div class="edit-ingredient-field">
        <%= f.simple_fields_for :ingredient_join_tables, join_table do |join_form| %>
          <%= join_form.simple_fields_for :ingredient, ingredient do |ingredient_form| %>
            <%= ingredient_form.input :name, label: false, input_html: { class: "edit-name-input", placeholder: "Amount and Name" } %>
            <%= ingredient_form.hidden_field :_destroy, class: "destroy-ingredient-field" %>
          <% end %>
        <% end %>
        <button type="button" class="edit-delete-ingredient"><i class="fa-solid fa-x" style="color: #b54d3b;"></i></button>
      </div>
    <% end %>
  </div>

  <div class="edit-ingredient-fields-template" style="display: none">
    <%= f.simple_fields_for :ingredient_join_tables, IngredientJoinTable.new, child_index: '__INDEX__' do |join_form| %>
      <%= join_form.simple_fields_for :ingredient, Ingredient.new do |ingredient_form| %>
        <div class="edit-ingredient-field">
          <%= ingredient_form.input :name, label: false, input_html: { class: "edit-name-input", placeholder: "Add Another Ingredient" } %>
          <%= ingredient_form.hidden_field :_destroy, class: "destroy-ingredient-field" %>
          <button type="button" class="edit-delete-ingredient"><i class="fa-solid fa-x" style="color: #b54d3b;"></i></button>
        </div>
      <% end %>
    <% end %>
  </div>

  <button type="button" id="edit-add-ingredient" class="form-button">Add Ingredient</button>
</div>
