<div class="navbar-wrapper">
  <div class="navbar">
    <div class="menu-container">
      <nav id="menu">
        <ul class="left-menu">
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="<%= recipes_path %>">Recipes</a></li>
          <li><a href= "<%= events_path %>">Events</a></li>
        </ul>
        <div class="logo-container">
          <img src="https://i.ibb.co/xjrbW3q/peppermingle.png" alt="Your Logo" class="logo" />
        </div>
        <ul class="right-menu">
          <li>
            <a href="#">Categories</a>
            <ul class="dropdown">
              <li><a href="#">Breakfast</a></li>
              <li><a href="#">Dessert</a></li>
              <li><a href="#">Dinner</a></li>
              <li><a href="#">Lunch</a></li>
              <li><a href="#">Snacks</a></li>
              <li><a href="#">Appetizers</a></li>
            </ul>
          </li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="nav-extras">
      <div class="search-container">
        <form action="/search" method="get">
          <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
          <label class="searchbutton" for="searchright">
            <i class="fa-solid fa-magnifying-glass" style="color: #567275;"></i>
          </label>
        </form>
      </div>
      <% if user_signed_in? %>
        <%= button_to destroy_user_session_path, method: :delete, class: "login-button" do %>
          <i class="fa-solid fa-sign-out-alt" style="color: #567275;"></i> Sign Out
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "login-button" do %>
          <i class="fa-solid fa-user" style="color: #567275;"></i> Login
        <% end %>
      <% end %>
    </div>
  </div>
</div>
