<div class="navbar-wrapper">
  <div class="navbar">
    <div class="menu-container">
      <nav id="menu">
        <ul class="left-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Recipes</a></li>
          <li><a href="#">Events</a></li>
        </ul>
        <div class="logo-container">
          <img src="https://i.ibb.co/xjrbW3q/peppermingle.png" alt="Your Logo" class="logo" />
        </div>
        <ul class="right-menu">
          <li>
            <a href="#">Categories</a>
            <ul class="menu-dropdown">
              <li><a href="#">Breakfast</a></li>
              <li><a href="#">Dessert</a></li>
              <li><a href="#">Dinner</a></li>
              <li><a href="#">Lunch</a></li>
              <li><a href="#">Snacks</a></li>
              <li><a href="#">Appetizers</a></li>
            </ul>
          </li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="nav-extras">
      <div class="search-container">
        <form action="/search" method="get">
          <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
          <label class="searchbutton" for="searchright">
            <i class="fa-solid fa-magnifying-glass" style="color: #567275;"></i>
          </label>
        </form>
      </div>
      <% if user_signed_in? %>
        <div class="dropdown">
          <button class="navbar-avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= cl_image_tag(current_user.photo.key, class: 'navbar-avatar') %>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="background: #F9F5F2; width: 150px; padding: 0; border: none;">
            <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "My Recipes", recipes_path, class: "dropdown-item" %>
            <%= link_to "My Events", events_path, class: "dropdown-item" %>

            <div class="dropdown-item-divider"></div>

            <div class="dropdown-item-middle">
              <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fa-solid fa-right-from-bracket" style="color: #567275; font-size: 25px;"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to new_user_session_path, class: "login-button" do %>
          <i class="fa-solid fa-user" style="color: #567275;"></i> Login
        <% end %>
      <% end %>
    </div>
  </div>
</div>
