<div class="recipe-card-container">
  <div class="recipe-card-img">
    <%= cl_image_tag @recipe.images.sample.key, class: "recipe-card-img" %>
    <div class="recipe-title-container">
      <h3 class="recipe-title"><%= @recipe.title %></h3>
    </div>
  </div>
  <div class="recipe-card-content">
    <div class="recipe-top-container">
      <div class="stars-container">
        <div class="recipe-reviews">
          <i class="fa-solid fa-star" style="color: #F1B150;"></i>
          <i class="fa-solid fa-star" style="color: #F1B150;"></i>
          <i class="fa-solid fa-star" style="color: #F1B150;"></i>
          <i class="fa-solid fa-star" style="color: #F1B150;"></i>
          <i class="fa-solid fa-star" style="color: #F1B150;"></i>
        </div>
      </div>
      <div class="recipe-icons">
        <p><i class="fas fa-utensils" style="color: #567275;"></i>Servings: <%= @recipe.servings %></p>
        <p><i class="fa-regular fa-clock" style="color: #567275;"></i>Prep Time: <%= @recipe.prep_time %> min</p>
        <p><i class="fa-regular fa-clock" style="color: #567275;"></i>Total Time: <%= @recipe.total_time %> min</p>
      </div>
    </div>
    <div class="recipe-bottom-container">
      <div class="ingredients" id="ingredients-container">
        <h4>Ingredients</h4>
          <ul>
            <% @recipe.ingredients.each do |ingredient| %>
              <% next if ingredient.name.strip.empty? %>
              <li> <%= "#{ingredient.name}" %> </li>
            <% end %>
          </ul>
      </div>
       <hr class="recipe-separator">
      <div class="directions" id="directions-container">
        <h4>Directions</h4>
        <ol>
          <li><%= @recipe.directions %></li>
        </ol>
      </div>
    </div>
  </div>
  <div class="recipe-notes">
      <div class="notes-container">
        <h4>Notes</h4>
          <ol>
            <li>to be added</li>
          </ol>
      </div>
  </div>
</div>
