<div id="recipecard" class="recipe-card-container">
  <div class="recipe-card-img">
    <% if @recipe.images.present? && @recipe.images.sample.present? %>
      <%= render partial: 'shared/image_carousel' %>
    <% else %>
      <%= image_tag("default_img_home.jpg", alt: "Default Image", class: "recipe-card-img") %>
    <% end %>
    <div class="recipe-title-container">
      <h3 class="recipe-title"><%= @recipe.title %></h3>
    </div>
  </div>
  <div class="recipe-card-content">
    <div class="recipe-top-container">
      <div class="recipe-icons">
        <p><i class="fas fa-utensils" style="color: #567275;"></i>Servings: <%= @recipe.servings %></p>
        <p><i class="fa-regular fa-clock" style="color: #567275;"></i>Prep Time: <%= @recipe.prep_time %> min</p>
        <p><i class="fa-regular fa-clock" style="color: #567275;"></i>Total Time: <%= @recipe.total_time %> min</p>
      </div>
    </div>
    <div class="recipe-bottom-container">
      <div class="ingredients" id="ingredients-container">
        <h4>Ingredients</h4>
        <ul>
          <% @recipe.ingredient_join_tables.reject { |join_table| join_table.marked_for_destruction? }.each do |join_table| %>
            <% ingredient = join_table.ingredient %>
            <% next if ingredient.name.nil? || ingredient.name.strip.empty? %>
            <li><%= ingredient.name %></li>
          <% end %>
        </ul>
      </div>
       <hr class="recipe-separator">
      <div class="directions" id="directions-container">
        <h4>Directions</h4>
        <ol>
          <li><%= @recipe.directions %></li>
        </ol>
      </div>
    </div>
  </div>
  <div class="recipe-notes">
      <div id="notescontainer" class="notes-container">
        <div class="review-top d-flex flex-row align-items-center justify-content-between">
          <h4>User Reviews</h4>
            <% if current_user != @recipe.user %>
              <%= link_to "+ Review", new_recipe_review_path(recipe_id: @recipe.id), class: 'button add-recipe-btn' %>
            <% end %>
        </div>

        <% if @recipe.reviews.empty? %>
          <p>No reviews yet!</p>
        <% end %>

        <% @recipe.reviews.each do |review| %>
          <div>
            <p style="font-size:25px; font-weight:bold"><%= review.user.user_name %></p>
            <p><strong>Rating:</strong> <%= review.rating %></p>
            <p><strong>Content:</strong> <%= review.content %></p>
            <% if review.suggestion.present? %>
              <p style="margin-bottom:30px"><strong>Suggestion:</strong> <%= review.suggestion %></p>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>
</div>
