<div class="form">
  <div class="form-container">
    <div class="container">
      <div class="row mt-2">

        <h1>Add New Event</h1>

        <%= simple_form_for @event do |f| %>

          <%= f.association :recipe, label: "Browse All Recipes:", input_html: { class: "form-input-style" } %>

          <div class="form-group" data-controller="recipe-search">
            <label for="recipe_search">Or Search For a Recipe:</label>
            <input type="text" id="recipe_search" class="form-input-style" data-target="recipe-search.input" data-action="input->recipe-search#search">
            <div id="search-results" data-recipe-search-target="results"></div>
            <%= f.input :recipe_id, as: :hidden, input_html: {data: { recipe_search_target: "recipeId"}}, class: "results-container" %>
            <%= f.input_field :recipe_title, label: "Selected Recipe", readonly: true, style: 'display: none', class: "form-input-style", data: { recipe_search_target: "selectedRecipe"} %>
          </div>

            <%= f.input :title, label: "Name of the Event", input_html: { class: "form-input-style" } %>
            <%= f.input :description, input_html: { class: "form-input-style" } %>
            <%= f.input :date, input_html: { class: "form-input-style" } %>
            <%= f.input :time, input_html: { class: "form-input-style" } %>
            <%= f.input :paid, input_html: { class: "form-input-style" } %>
            <p>Add Images:</p>
            <p class="recipe-info">(select more than 1 file if you want to upload multiple images)</p>
            <%= f.input :images, as: :file, label: false, input_html: { multiple: true, class: "form-input-style" } %>
            <button type="submit" class="button small-button" style="margin-top: 30px;">Create Event</button>
          <% end %>

      </div>
    </div>
  </div>
</div>
