<div class="user-outside-container">
  <div class="user-border-background">
    <%# <h1 class="event-header-center">Event details</h1> %>
    <div class="event-show-container">
      <div class="event-show-img-container">
        <% if @event.photos.present? %>
         <%= cl_image_tag @event.photos.first.key, crop: :fill, class: 'event-show-img' %>
        <% else %>
          <%= cl_image_tag @event.recipe.images.first.key, class: 'event-show-img' %>
        <% end %>
      </div>
      <div class="event-show-details-container">
        <div class="event-edit-button">
          <% if current_user == @event.user %>
            <%= link_to edit_event_path(@event), class: "btn btn-ghost" do %>
              <i class="fa fal fa-edit fa-xs" style="color: #4b615a;"></i>
            <% end %>
          <% end %>
        </div>
        <h2><%= @event.title %></h2>
        <% if @event.description %>
          <p><%= @event.description %></p>
        <% else %>
          <p>No description added yet...</p>
        <% end %>
        <p><i class="fa-solid fa-utensils"></i> <%= link_to "#{@event.recipe.title}", recipe_path(@event.recipe), class: 'event-page-link' %></p>
        <p><i class="fa-solid fa-calendar-days"></i> <%= @event.date.strftime('%d/%_m/%y') %></p>
        <p><i class="fa-regular fa-clock"></i> <%= @event.time.to_formatted_s(:time) %></p>
        <p><i class="fa-regular fa-user"></i> <%= link_to "#{@event.user.user_name}", user_path(@event.user), class: 'event-page-link' %></p>
        <p><strong>Created by:</strong> <%= @event.user.user_name %></p>

            <% unless current_user == @event.user %>
              <% if current_user.booked_event?(@event) && @event.room_url.present? %>
                <%= link_to 'Join Room', room_url_event_path(@event), data: { controller: "room-url", action: "click->room-url#openPopUpWindow" }, class: "button join-button" %>
              <% else %>
                <% if current_user.booked_event?(@event) %>
                  <button class="button join-button" data-controller="booking" data-action="click->booking#bookEvent" data-event-id="<%= event.id %>" data-is-booked="<%= current_user.booked_event?(event) %>">
                    Attending
                  </button>
                <% else %>
                  <%= link_to 'Join Event', new_event_booking_path(@event), class: "button join-button" %>
                <% end %>
              <% end %>
            <% end %>


        <% if current_user == @event.user %>
          <% if @event.room_url.present? %>
            <div class="room">
              <%= link_to "Join Room", room_url_event_path(@event), data: { controller: "room-url", action: "click->room-url#openPopUpWindow" }, class: "button cjoin-button" %>
              <% if policy(@event).destroy_room_url? %>
                <%= button_to "Delete Room", destroy_room_url_event_path(@event), method: :delete, data: { confirm: 'Are you sure you want to delete the room URL?' }, class: "button delete-room-button" %>
              <% end %>
            </div>
          <% elsif policy(@event).trigger_api? %>
            <%= button_to "Create Room", trigger_api_event_path(@event), method: :post, remote: true, class: "button room" %>
          <% end %>
        <% end %>

        <% if current_user == @event.user %>
          <%= button_to event_path(@event), method: :delete, class: "event-del-button button-style", data: { confirm: 'Are you sure you want to cancel this booking?' } do %>
            <i class="fa fa-trash fa-2xs" style="color: #4b6163;"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
