<h1>New Review</h1>

<%= simple_form_for([@reviewable, @review]) do |form| %>
  <%= form.input :rating %>
  <%= form.input :content %>
  <%= form.input :suggestion %>
  <%= form.button :submit, class: 'btn btn-primary' %>
<% end %>
