<div class="form">
  <div class="form-container">
    <h1>New Review</h1>

    <%= simple_form_for([@reviewable, @review]) do |form| %>
      <%= form.input :rating, collection: [["1",1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]], include_blank: true, input_html: { class: "form-input-style" } %>
      <%= form.input :content, input_html: { class: "form-input-style" } %>
      <%= form.input :suggestion, input_html: { class: "form-input-style" } %>
      <div class="button-container">
        <button type="submit" class="button small-button">Create Review</button>
        <span class="button-margin"></span>
        <%= link_to "Back to Recipe", recipe_path(@reviewable), class: 'button small-button' %>
      </div>

    <% end %>
  </div>
</div>
